/* Global Fonts
font-family: 'Rammetto One', cursive; */

h1 {
    font-family: 'Rammetto One', cursive; 
    color: white; 
}

.jumbotron {
    background-color: navy}

/* .ansBtn {
    padding: 1em;
    color: red;
    display: block;
    
    
} */

/* .qa input {
  display: block;
  position: relative;
} */

input[type="radio"] {
    margin: 0 10px;
    /* display: block;
    position: absolute; */
   
}
.qa{
    display: block;
    position: relative;

}
.images {
    height: 10px;
    width: 10px;
}

.js-timer {
    /* padding: 1em; */
    width: auto;
    height: auto;
    /* align-content: center; */
    
}
.cs-button{
    padding: .5em;
    text-align: center;
}

.cs-timer {
    text-align: center;
    height: 100px;
    width: 100px;
    /* border: red solid 2px; */
    padding: 1em;
   
}

/* .body{
    background-image: url(../images/background-1913529_1920.jpg)
} */